Source: lmod
Section: devel
Priority: optional
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends: debhelper (>= 9), autotools-dev, procps, lua5.2, lua-filesystem, lua-posix, lua-term, lua-json, tcl
Standards-Version: 3.9.6
Homepage: https://www.tacc.utexas.edu/tacc-projects/lmod
Vcs-Git: https://github.com/scibian/lmod.git
Vcs-Browser:  https://github.com/scibian/lmod

Package: lmod
Architecture: all
Depends: ${misc:Depends}, lua5.2, lua-filesystem, lua-posix, lua-term, lua-json, tcl
Conflicts: environment-modules
Breaks: environment-modules
Replaces: environment-modules
Description: Lua based environment modules
 Lmod is a Lua based module system that easily handles the MODULEPATH
 Hierarchical problem. Environment Modules provide a convenient way to
 dynamically change the users' environment through modulefiles. This
 includes easily adding or removing directories to the PATH environment
 variable. Modulefiles for Library packages provide environment variables
 that specify where the library and header files can be found.
